@model MyFaculty2.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Вхід";
}

<h1>Вхід</h1>
<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Вхід" class="btn btn-primary" />
    </div>
</form>
